html, body {
    width: 50%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: lightgrey;
}

.container {
    width: 370px;
}

h2, h3, h4 {
    color: grey;
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 7px;
}


#eingabefeld {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid white;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    padding-left: 10px;
}

.paragraph-styling {
    cursor: pointer;
    font-size: 22px;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 70px;
    margin-bottom: -5px;
    margin-top: -5px;
}

.to-dos {
    margin-top: 25px;
}

.fa-circle {
    position: relative;
    scale: 2.2;
    color: grey;
    left: 5%;
    transform: translate(0%, -67.5%);
    border: none;
    background: none;
}

.fa-check-circle {
    position: relative;
    transform: translate(0%, -67.5%);
    left: 5%;
    scale: 2.2;
    opacity: 100%;
    cursor: pointer;
    color: grey;
    border: none; 
    background: none;
}


.fa-trash-alt {
    color: grey;
    scale: 2.2;
    position: relative;
    left: 79%;
    transform: translate(0%, -70%);
    background: none;
    border: none;
    opacity: 20%;
    cursor: pointer;
}

.fa-trash-alt:hover {
    opacity: 70%;
}

#spracheingabe {
    width: 314px;
    border: 1px solid grey;
    background-color: grey;
    color: white;
    margin-bottom: 5px;
}