body{
    font-family: sans-serif;
    background-image: url(Grafikelemente/bg.png);
    background-repeat: repeat;
}

#nav {
    background-color: black;
    color: white;
    width: 12%;
    padding: 5px 0px 5px 5px;
    margin-left: 80%;
    margin-top: -8px;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 5px;
    z-index: 3;
}

a {
    text-decoration: none;
    color: white;
}

a.hovertext:link, a.hovertext:visited {
    color: #b63514;
    text-decoration: none;
}
a.hovertext:hover {
    color: #b63514;
}

.h1 {
    text-align: center;
    color: white;
    font-size: 75px;
    font-weight: 800;
    text-align: center;
    vertical-align: middle;
    margin-top: -4%;
    margin-left: 8%;
    position: absolute;
}

.Text1 {
    font-weight: 400;
    color: white;
    margin: 200px 120px 10px 220px;
    position: relative;
    float: right;
    text-align: right;
    z-index: 2;
}

a .facebook {
    margin-left: 50%;
    opacity: 65%;
}

img.facebook:hover {
    opacity: 100%;
}

.Kreis {
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    background-color: #b63514;
    color: white;
    width: 800px;
    height: 450px;
    border-radius: 0px 0px 400px 400px;
    z-index: 0;
}

h2 {
    color:#b63514;
    margin-left: 25%;
}

div form input {
    width: 200px;
    height: auto;
    border: none;
    background-color: lightgrey;
    color: white;
    margin-bottom: 5px;
    padding: 8px;
    margin-left: 25%;
}

div form textarea {
    width: 200px;
    height: auto;
    border: none;
    background-color: lightgrey;
    color: white;
    margin-bottom: 5px;
    padding: 8px;
    margin-left: 25%;
}

div form p {
    color: lightgrey;
    padding: 8px;
    margin-left: 25%;
}

button {
    background-color: lightgrey;
    color: white;
    margin-left: 25%;
}
