body {
    background-color: #000;
}

#Buttons {
    width: 460px;
    height: 460px;
    position: absolute;
    margin:0;
    top: 40%;
    left:50%;
    transform: translate(-50%,-50%);
    display: grid;
    gap: 3px;
}

.Box1, .Box2, .Box3 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to top, #2065d3, #3180e7);
    border-radius: 10px 10px 10px 10px; 
    border-style: none;
    opacity: 50%;
}

.Box4, .Box5, .Box6, .Box7 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to top, #f10981, #fe55ad);  
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    opacity: 50%;
}

.Box8, .Box9 {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(to top, #dd821d, #f5a13c);   
    border-radius: 10px 10px 10px 10px;
    border-style: none;
    opacity: 50%;    
}

.Box1:hover {
    opacity: 100%;
}
.Box2:hover {
    opacity: 100%;
}
.Box3:hover {
    opacity: 100%;
}
.Box4:hover {
    opacity: 100%;
}
.Box5:hover {
    opacity: 100%;
}
.Box6:hover {
    opacity: 100%;
}
.Box6:hover {
    opacity: 100%;
}
.Box7:hover {
    opacity: 100%;
}
.Box8:hover {
    opacity: 100%;
}
.Box9:hover {
    opacity: 100%;
}
#playbutton:hover {
    opacity: 100%;
}

i {
    color: white;
    transform: scale(3.8);
    position: absolute;
}

.fa-play-circle {
    left: 14%;
    top: 110%;
}

.fa-stop-circle {
    left: 14%;
    top: 110%;
}


.fa-trash-alt {
    left: 82%;
    top: 110%;   
}

.fa-random {
    left: 48%;
    top: 110%;
}

.fa-play-circle:hover {
    opacity: 50%;
}

.fa-stop-circle:hover {
    opacity: 50%;
}

.fa-trash-alt:hover {
    opacity: 50%;
}

.fa-random:hover {
    opacity: 50%;
}