html {
    background-image: url(images/bg.png);
    background-repeat: repeat;
}

#Karte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.h1 {
    color: white;
    position: absolute;
    top: 10%;
    left: 7%;
}

.formular {
    position: absolute;
    color: white;
    top: 30%;
    left: 7%;
}